<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @instructor.title %>
</p>

<p>
  <strong>First name:</strong>
  <%= @instructor.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @instructor.last_name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @instructor.email %>
</p>

<p>
  <strong>Phone number:</strong>
  <%= @instructor.phone_number %>
</p>

<p>
  <strong>Office room:</strong>
  <%= @instructor.office_room %>
</p>

<p>
  <strong>Department:</strong>
  <%= @instructor.department %>
</p>

<p>
  <strong>School:</strong>
  <%= @instructor.school %>
</p>

<%= link_to 'Edit', edit_instructor_path(@instructor) %> |
<%= link_to 'Back', instructors_path %>
