<%= form_with(model: course, local: true) do |form| %>
  <% if course.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(course.errors.count, "error") %> prohibited this course from being saved:</h2>

      <ul>
      <% course.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :code %>
    <%= form.text_field :code %>
  </div>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>

  <div class="field">
    <%= form.label :instructor %>
    
    <%= form.select(:instructor) do %>
      <% @listOfInstructor.each do |listOfInstructors| %>
        <%= content_tag(:option, listOfInstructors, value: listOfInstructors) %>      
      <% end %>
    <% end %>

    <%# <%= form.select :instructor, User.where(role_id: 2).collect { |i| [ i.firstname+" "+i.lastname, i.firstname+" "+i.lastname ] }, include_blank: true %><br />
  </div>

  <div class="field">
    <%= form.label :semester %>
    <%= form.select :semester, options_for_select([["January", "January"], ["August", "August"]])%><br />
  </div>

  <div class="field">
    <%= form.label :credit %>
    <%= form.number_field :credit, min:0, value:0 %>
  </div>

  <div class="field">
    <%= form.label :room %>
    <%= form.text_field :room %>
  </div>

  <div class="field">
    <%= form.label :midterm %>
    <%= form.number_field :midterm, min:0, value:0 %>
  </div>

  <div class="field">
    <%= form.label :final %>
    <%= form.number_field :final, min:0, value:0 %>
  </div>

  <div class="field">
    <%= form.label :assignment %>
    <%= form.number_field :assignment, min:0, value:0 %>
  </div>

  <div class="field">
    <%= form.label :project %>
    <%= form.number_field :project, min:0, value:0 %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
