<%= form_with(model: homepage, local: true) do |form| %>
  <% if homepage.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(homepage.errors.count, "error") %> prohibited this homepage from being saved:</h2>

      <ul>
      <% homepage.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :lastname %>
    <%= form.text_field :lastname %>
  </div>

  <div class="field">
    <%= form.label :studentid, 'Student ID' %>
    <%= form.number_field :studentid %>
  </div>

  <div class="field">
    <%= form.label :major %>
    <%= form.text_field :major %>
  </div>

  <div class="actions">
    <%= form.submit "add new member"%>
  </div>
<% end %>
